body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/doctorquiz.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.login-card {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(168, 172, 172, 0.43);
    overflow: hidden;
}

@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px;
    }
}

.login-card form {
    max-width: 50%;
}

@media (max-width: 767px) {
    .login-card-footer-text {
        margin-bottom: 24px;
    }
}
